@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;

    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
}
body{
    background-color: black;
    color: white;
}
#header{
    /* width:100%; */
    height:100vh;
}
.container{
    padding: 10px 2%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    /* width: 140px; */
    width:10%
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    /* width: 0%; */
    height: 3px;
    background:rgb(244, 118, 118);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    text-align: center;
    margin-top: 10%;
    font-size: 45px;
}
.header-text h1{
    font-size: 60px;
    margin: 20px;
    color:rgb(250, 80, 190) ;
   
}
/* -------About section------ */

#about{
    padding: 80px 0;
    color:lavenderblush;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    /* height: 70vh; */
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    color: snow;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(244, 118, 118);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:rgb(111, 247, 7);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------skills section------------ */

#skill{
    padding: 30px 0;
}
#skills-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center; 
}
.items{
    width: 20%;
    height: 20vh;
    padding: 35px;
    font-weight: bold;
    margin: 1%;
    font-size: 25px;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    /* background:linear-gradient(to bottom right,#7A7FBA,#5e0ae5); */
    background-image: linear-gradient(to right, #870000, #190a05);
    color: white;
    cursor: pointer;
    box-shadow:  rgba(96, 236, 53, 0.845) 0px 10px 20px, rgba(95, 236, 53, 0.89) 0px 7px 6px; 
    transition: background 0.5s, transform 0.5s;
}
.items:hover{
    font-size: 0;
    /* width: 20%; */
    /* height: 10%; */
    transform: translateY(-20px);
}
.java:hover{
    background:url("https://velog.velcdn.com/images/cdspacenoob/post/d3d4dd5b-1bbc-45a3-afbd-4a8f713ad0ff/image.jpeg");
    background-size: cover; 
    background-position: 40%;
}
.dsa:hover{
    background: url("https://th.bing.com/th/id/OIP.WZ5JpnP8VgTEg6GkPFDFHgAAAA?rs=1&pid=ImgDetMain");
    background-size: cover;
    background-position: 5px;
}
.mysql:hover{
    background: url("https://th.bing.com/th/id/OIP._gPccuS5QjRa-_7BrUcZ4gHaEK?pid=ImgDet&rs=1");
    background-size: cover;
    background-position: 5px;
}
.html:hover{
    background: url("https://geekofcoding.files.wordpress.com/2020/09/images.png");
    background-size: cover;
    background-position:0px;
}
.css:hover{
    background:url("https://external-preview.redd.it/f-22gzNpedo8hM0PwozpDeKyMyTcST9M2qCWjPBiGmo.jpg?auto=webp&s=f06819c96e2979fd80fa106dfa2be416059d9478");
    background-size: cover;
    background-position: -3px;
    
}
.js:hover{
    background: url("https://wallpapercave.com/wp/wp2465927.jpg");
    background-size: cover;
    background-position: -2px;
}
.bs:hover{
    background: url("https://1.bp.blogspot.com/-zaWp0y_Ek_I/WLpi66wU8HI/AAAAAAAABHk/pwKb9VfFo7sskRiADBWtV0MkIoEYox0YgCLcB/s1600/bot.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 45px;
    background-color:plum
}
.react:hover{
    background: url("https://thienanblog.com/wp-content/uploads/2017/10/react-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 2px;
}
/* ------------------Projects Section----------------- */
#project{
    padding: 50px 0;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: rox;
    margin: 10%;
}

.project-img{
    border-radius: 10px;
    width: 10%;
    flex-basis: 30%;

    transition: transform .5s ease-in-out;
 }
 .project-img:hover{
    transform: scale(1.1);
    box-shadow: rgba(5, 255, 193, 0.888) 0px 0px 15px 5px;
 }
 .project-content{
    text-align: center;
    margin: 18px;
    padding: 20px;
    flex-basis: 60%;
    font-size: large;
    font-weight: 500;
    transition: background 0.5s, transform 0.5s;
}
.project-content:hover{
    /* background:url("projectBackground.jpg"); */
    background-color: rgb(72, 70, 70);
    font-size:large;
    border-radius: 15px;
    padding: 20px;
    transform: translateY(-10px);
}
.icon{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.icon a{
    margin-left: 50px;
    color: rgb(255, 242, 0);
    
}

/* ----------------Contact section------------------- */
.contact-left{
    flex-basis: 35%;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 10%;
    box-shadow: rgb(112, 255, 2) 0px 5px 15px;
    margin: 20px;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30x;
}
.contact-left p i{
    color:#80C7FF;
    margin-right: 15px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #80C7FF;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:rgb(244, 9, 138) ;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid pink;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn2:hover{
    background-color: rgb(241, 58, 159);
    color: black;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:rgb(63, 63, 63);
    padding: 15px;
    margin: 5px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 26px;
    font-size: 18px;
    border-radius: 15%;
    background-color: rgb(247, 8, 111);
   cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/* ---------------------------------Small Screen------------- */
nav .fa{
    display: none;
}
@media only screen and (max-width: 1270px){
    .header-text{
        margin-top: 40%;
    }
    nav .fa{
        display: block;
        /* font-size: 1.5rem; */
        margin: 0;
    }
    nav ul{
        background: rgba(35, 50, 47, 0.9);
        position: fixed;
        top: 0;
        right:0px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
        position: absolute;
        display: none;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
   
    nav ul .icon{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul .icon:hover{
        color: rgb(206, 22, 22);
    }
    .logo {
        /* width: 15rem; */
        width: 40%;
    }
    
    #skills-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .items{
        width: 50%;
        margin: 3%;
        margin-left: 5%;
        font-size: 40px;
        
    }
    .bs:hover{
        background-position: -2px;
    }
    .project-list{
        flex-direction: row;
        justify-content: center;
        /* margin: 20px; */
    }
    .project-img{
        width: 60%;
    }
    .contact-left{
        flex-basis:100%;
        width: 100%;
    }
    .contact-right{
        flex-basis: 100%;
        margin: 5%;
    }
    .sub-title{
        font-size: 300%;
    }
}
@media only screen and (max-width: 500px){
    .about-col-1{
        flex-basis: 100%;
    }
    .btn.btn2{
        padding: 10px;
    }
    .sub-title{
        font-size: 30px;
        text-align: center;
    }
    .about-col-2 p{
        text-align: center;
        font-size: 20px;
        width: 160%;
    }
    .project-img{
        width: 80%;
    }
}